h1
{
    text-align: center;
    line-height: 5;
    font-family: sans-serif;
}
div
{
    width: 100%;
    margin: 0px;
    height: 40%;
    background: white;
    position: fixed;
    top: 30%;
}
body
{
    padding: 0px;
    background: #ddd;
    margin: 0px;
}